<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
    <div class="main">
            <form action="/order/" method="get">
                <input id="search-input" type="text" placeholder="Enter ID" name="search">
                <button id="search-btn" type="button">Search</button>
            </form>
    </div>
<script>
    const input = document.getElementById("search-input");

    document.getElementById("search-btn").onclick = function() {
        window.location.href = '/order/' + input.value;
    }
</script>
</body>
</html>
